body {
    background-color: black;
}


.box {
    margin-top: 100px;
    margin-left: 30%;
    width: 40%;
    color: white;
    text-align: center;
    font-family: "Libre Baskerville", serif;
}

.image {
    width: 100%;
    border: 5px solid white;
}

h1 {
    text-transform: uppercase;
    font-size: 2rem;
}

